@font-face {
  font-family: "Black Future";
  src: "black-future.woff2" format("otf");
}

h1 {
  display: inline-block;
  color: #000;
  background: #fff;
  mix-blend-mode: multiply;
  position: relative;
}

h1:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #81005e, #003380);
  mix-blend-mode: screen;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
}

body {
  background-image: url("tren2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  opacity: 1;
}

center {
  text-align: center;
}

form {
  border-radius: 4px;
  margin-left: 6px;
  background: linear-gradient(120deg, #81005e, #2b598d);
  width: 30%;
  min-width: 400px;
  max-width: 1500px;
  padding-bottom: 10px;
  color: #ffffff;
  border-radius: 10px;
  /* Color de texto blanco */
}

label {
  margin-left: 6px;
  margin-top: 10px;
}

.espacio {
  display: block;
}

.margen {
  margin-left: 6px;
}

.mov {
  margin-left: 6px;
  width: 100px;
}

.comu {
  margin-left: 6px;
  width: 180px;
}

input[type="text"],
.entradas {
  margin-left: 6px;
  width: 33%;
  min-width: 100px;
}

input[type="range"] {
  margin-left: 6px;
  width: 70%;
}

select {
  margin-left: 6px;
  width: 80px;
  padding: 3px;
  border-radius: 3px;
}

input[type="radio"] {
  margin-left: 6px;
  margin-right: 5px;
}

input[type="submit"] {
  margin-left: 6px;
  background-color: #81005e;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  float: right;
  margin-left: 20px;
}

input[type="checkbox"] {
  margin-left: 6px;
  margin-right: 5px;
  padding: 10px 20px;
}

h3 {
  margin-left: 10px;
}

.margenDerecha {
  margin-right: 15px;
}

p {
  margin-left: 6px;
  color: #ffffff;
  font-weight: bold;
  margin-top: 10px;
}

.margen-izquierdo-10px {
  margin-left: 10px;
}
div {
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}
.caja {
  border: 1px solid #ccc;
  padding: 10px;
}

.caja:empty {
  background-color: #3498db; 
  color: #fff; 
}


/* TODO Boton*/
.btn {
  font-size: 1.2rem;
  padding: 1rem 2.5rem;
  border: none;
  outline: none;
  border-radius: 0.4rem;
  cursor: pointer;
  text-transform: uppercase;
  background-color: rgb(14, 14, 26);
  color: rgb(234, 234, 234);
  font-weight: 700;
  transition: 0.6s;
  box-shadow: 0px 0px 60px #1f4c65;
  -webkit-box-reflect: below 10px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));
}

.btn:active {
  scale: 0.92;
}

.btn:hover {
  background: rgb(2,29,78);
  background: linear-gradient(270deg, rgba(2, 29, 78, 0.681) 0%, rgba(31, 215, 232, 0.873) 60%);
  color: rgb(4, 4, 38);
}

/* TODO Checkbox*/
